.container {
	width: 100%;
	margin: auto;
}

.banner {
	background-color: black;
	color: white;
	text-align: right;
}

.banner a:link {
	color: white;
	text-decoration: none;
}
.banner a:visited { color: white; }
.banner a:hover { color: white; }
.banner a:active { color: white; }

.nav {
	text-align: center;
}

.nav button {
	background-color: orange;
	color: black;
	font-weight: bold;
	font-size: large; 
	padding: 10px;
}

.content {
	width: 90%;
	margin: auto;
	height: 100vh;
}

video {
	width: 100%;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.activity-list li {
	padding: 10px 0px 10px 0px;
}

h1 {
	padding: 5px 10px 5px 0px;
}

button {
	background-color: blue;
	color: white;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	cursor: pointer;
	box-shadow: 5px 5px 5px grey;
}

button a {
	color: white;
	text-decoration: none;
}

button a:visited {
	color: yellow;
}