{% extends 'video_share/base.html' %}

{% block content %}
	<div class="nav">
		<a href="/media/upload"><button type="button">Upload a Video</button></a>
	</div>
		<h3>Activity</h3>
		<ul class="activity-list">
			{% for item in activity %}
				{% if item.comment %}
					<li>{{ item.pub_time }} - <a href="/media/{{ item.pk }}/view"> {{ item.author }} posted a comment.</a>
					</li>
				{% endif %}

				{% if item.video %}
					<li>{{ item.pub_time }} - <a href="/media/{{ item.pk }}/view">A video has been uploaded.</a></li>
				{% endif %}

			{% endfor %}
		</ul>
{% endblock %}