{% load static %}

<html lang="en-us">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'video_share/main.css' %}">
		<title>SoloTUBE | Post a Comment</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<div class="banner">
				<a href="/"><h1>SoloTUBE</h1></a>
			</div>
			<div class="content">
				<form action="/media/{{ pk }}/post-comment" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Post"></input>
				</form>
			</div>
		</div>
	</body>
</html>